@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --cell-row: 6;
  --cell-column: 6;
  --cell-width: 65px;
  --cell-height: 65px;
  --cell-width-mobile: 35px;
  --cell-height-mobile: 35px;
  --bg-color: rgb(233, 233, 233);
  --border-color: rgb(163, 163, 163);
  --green-color: rgb(155, 216, 165);
  --primary-color: rgb(144, 96, 255);
  --secondary-color: rgb(209, 189, 255);
  --tertiary-color: rgb(219, 219, 219);
}

/* My reset */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global */
body {
  font-family: 'Montserrat', sans-serif;
  background: var(--bg-color);
}

input {
  caret-color: transparent;
  text-align: center;
  vertical-align: middle;
  border: 0;
  outline: 0;
}

/* Modular Classes */
.container {
  padding: 1rem;
}

.min-height-100 {
  min-height: 100vh;
}

.min-height-120 {
  min-height: 120vh;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.game {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem;
  width: calc(var(--cell-width) * var(--cell-column));
  height: calc(var(--cell-height) * var(--cell-row));
}

.hint {
  font-size: calc(var(--cell-width) / 3);
  text-align: center;
  line-height: 1.5;
  height: calc(var(--cell-height) * 1.5);
  width: calc(var(--cell-width) * var(--cell-column));
}

.key {
  padding: 8px;
  border: 1px solid black;
  margin: 1px;
  cursor: pointer;
  display: inline-block;
  border-radius: 2px;
}

.key:hover {
  background-color: #888888;
}

.backspace {
  background-color: #acacac;
}

.backspace-icon {
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 0;
  color: rgb(85, 85, 85);
  vertical-align: middle;
}

.key-board,
.board-row {
  width: max-content;
  margin: 0 auto;
}

.key-board {
  background-color: #c8c8c8;
  border-radius: 4px 4px 0 0 ;
  padding: 0.5rem 1rem 1.5rem 1rem;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.board-settings {
  padding-bottom: 0.5rem;
  justify-content: flex-end;
}

.board-close-btn {
  font-size: 2rem;
}

.inside-board-wrapper {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.438);
}

.inside-board {
  width: 80%;
  margin: 0 auto;
  padding: 0.5rem;
  background-color: rgb(223, 223, 223);
  border-radius: 5px;
  box-shadow: 0 0 10px 5px #777777;
}

.inside-board .close-btn {
  font-size: 1.5rem;
}

.cell {
  height: var(--cell-width);
  width: var(--cell-height);
  font-size: calc(var(--cell-width) / 1.75);
  background: var(--bg-color);
  cursor: pointer;
  border-radius: calc(var(--cell-width) / 10);
  text-transform: uppercase;
}

.active {
  border: 1px solid var(--border-color);
  background-color: var(--tertiary-color);
}

.selected-word {
  background-color: var(--secondary-color);
}

.focus {
  background-color: var(--primary-color);
}

.answered {
  background-color: var(--green-color);
}

@media screen and (max-width: 480px) {
  .cell {
    height: var(--cell-width-mobile);
    width: var(--cell-height-mobile);
    font-size: calc(var(--cell-width-mobile) / 1.75);
    border-radius: calc(var(--cell-width-mobile) / 10);
  }

  .game {
    width: calc(var(--cell-width-mobile) * var(--cell-column));
    height: calc(var(--cell-height-mobile) * var(--cell-row));
  }

  .hint {
    text-align: center;
    font-size: calc(var(--cell-width-mobile) / 2);
    height: calc(var(--cell-height-mobile) * 1.5);
    width: calc(var(--cell-width-mobile) * var(--cell-column));
  }

  .key-board {
    width: 100%;
  }
}

.btn {
  background-color: rgb(97, 12, 255);
  color: aliceblue;
  padding: 4px 7px;
  border-radius: 2px;
  border: 0;
  outline: 0;
  font-size: 1rem;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(62, 2, 173);
  box-shadow: 0 0 3px #888888;
}

.modal {
  background-color: rgb(240, 240, 240);
  padding: 20px;
  z-index: 10;
  border-radius: 6px;
  box-shadow: 0 0 5px #888888;
  /* text-align: center; */
}

.modal > p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.relative {
  position: relative;
}

.modal-div {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: #000000b7;
};